/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-size: 62.5%;
  max-width: 100%;
  background-color: #121012;
  color: #fff;
}
body {
  font-size: 1.6rem;
  font-family: 'Merriweather', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2rem;
}
footer {
  display: flex;
  flex-direction: column;
  height: 15vh;
  align-items: center;
  justify-content: center;
}
footer .homepageFootertext {
  font-size: 1.5rem;
  text-align: center;
  border-top: solid white 2px;
  padding-top: 1%;
}
footer .homepageFootericons {
  display: flex;
  padding-top: 1%;
  text-align: center;
  width: 10%;
  justify-content: space-between;
}
footer .homepageFootericons a {
  text-decoration: none;
  color: #fff;
}
.homepageCta {
  background-attachment: fixed;
  background-size: 100% 68%;
  background-repeat: no-repeat;
  width: 100%;
}
@media (max-width: 500px) {
  .homepageCta {
    background-size: 100% 47%;
  }
}
.homepageCta div {
  border-top: solid #fff 1px;
  padding: 7% 5% 7% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.homepageCta div img {
  border-top: solid #fff 3.5px;
  padding-top: 2rem;
}
div p {
  padding: 3rem 0;
}
button {
  background-color: #121012;
  color: #fff;
  border-color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.8rem 0;
  width: 20rem;
  text-align: center;
  border-radius: 5px;
}
button:hover {
  background-color: #fff;
  color: #121012;
  border-color: #121012;
}
.homepagecoolprojects {
  text-align: center;
  margin: 2rem 0;
}
.homepageProducts {
  display: flex;
  margin: 0 2%;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .homepageProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.homepageProducts div {
  margin: 0 5rem;
  width: 29%;
}
.homepageProducts div h2 {
  text-align: center;
  margin: 5% 0;
}
@media (max-width: 500px) {
  .homepageProducts div {
    width: 35rem;
    margin: 0 5%;
  }
}
.homepageProducts div img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.homepageProducts div p {
  margin: 5% 0;
  text-align: center;
  font-size: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
nav .homepageDivlinks {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
nav .navSignIn {
  width: 19%;
  text-align: center;
}
nav .navSignIn button {
  background-color: #121012;
  border-radius: 2px;
  color: #fff;
  border: solid 1px #fff;
  width: 30%;
}
@media (max-width: 500px) {
  nav .navSignIn button {
    width: 80%;
  }
}
nav .navSignIn button:active {
  background-color: #fff;
  color: #121012;
  border: solid 1px #121012;
}
nav a {
  color: #fff;
  text-decoration: none;
}
.aboutTop {
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
}
.aboutTop div {
  padding: 7% 5% 7% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 25vh;
}
.aboutTeams {
  text-align: center;
}
.aboutTeams div {
  padding: 5% 15%;
}
.aboutTeamList {
  margin: 3%;
  padding: 3%;
  background-color: #25252b;
}
.aboutTeamList .teamRow {
  display: flex;
}
.aboutTeamList .teamRow .aboutTeamsMember {
  padding: 5% 2%;
  display: flex;
  flex-direction: row-reverse;
  height: 25vh;
  align-items: space-evenly;
}
.aboutTeamList .teamRow .aboutTeamsMember img {
  height: 25vh;
  width: 25vh;
}
.aboutTeamList .teamRow .aboutTeamsMember .memberInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3%;
}
.aboutTeamList .teamRow .aboutTeamsMember .memberInfo h4 {
  padding: 3% 0;
}
.aboutTeamList .teamRow .aboutTeamsMember .memberImgIcons div {
  display: flex;
  justify-content: space-evenly;
  padding: 4%;
}
.aboutTeamList .teamRow .aboutTeamsMember .memberImgIcons div a {
  text-decoration: none;
  color: #fff;
}
