/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-size: 62.5%;
  max-width: 100%;
  background-color: #121012;
  color: #fff;
}
body {
  font-size: 1.6rem;
  font-family: 'Merriweather', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2rem;
}
footer {
  display: flex;
  flex-direction: column;
  height: 10vh;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
footer .homepageFootertext {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 1.5rem;
  text-align: center;
  border-top: solid white 2px;
  width: 90%;
  padding-top: 2%;
  line-height: 1.6rem;
}
footer .homepageFootertext p {
  margin: 0;
  padding: 0;
}
@media (max-width: 500px) {
  footer .homepageFootertext {
    margin-top: 10%;
  }
}
footer .homepageFootericons {
  display: flex;
  padding-bottom: 4%;
  text-align: center;
  width: 10%;
  justify-content: space-between;
}
footer .homepageFootericons a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 500px) {
  footer .homepageFootericons {
    width: 100%;
    justify-content: space-evenly;
  }
}
.homepageCta {
  background-attachment: fixed;
  background-size: 100% 68%;
  background-repeat: no-repeat;
  width: 100%;
}
@media (max-width: 500px) {
  .homepageCta {
    background-size: 100% 47%;
  }
}
.homepageCta div {
  border-top: solid #fff 1px;
  padding: 7% 5% 7% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.homepageCta div img {
  border-top: solid #fff 3.5px;
  padding-top: 2rem;
}
div p {
  padding: 3rem 0;
}
button {
  background-color: #121012;
  color: #fff;
  border-color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.8rem 0;
  width: 20rem;
  text-align: center;
  border-radius: 5px;
}
button:hover {
  background-color: #fff;
  color: #121012;
  border-color: #121012;
}
.homepagecoolprojects {
  text-align: center;
  margin: 4rem 0;
  font-weight: bold;
}
.homepageProducts {
  display: flex;
  margin: 0 2%;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .homepageProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.homepageProducts div {
  margin: 0 5rem;
  width: 29%;
}
.homepageProducts div h2 {
  text-align: center;
  margin: 5% 0;
}
@media (max-width: 500px) {
  .homepageProducts div {
    width: 35rem;
    margin: 0 5%;
  }
}
.homepageProducts div img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.homepageProducts div p {
  line-height: 2;
  margin: 5% 0;
  text-align: center;
  font-size: 2rem;
  height: 50%;
}
.homepageMoreprojects {
  margin: 5% 0;
  text-align: center;
  /* visited link */
}
.homepageMoreprojects h3 {
  line-height: 2;
}
.homepageMoreprojects a:link {
  color: #fff;
}
.homepageMoreprojects a:visited {
  color: #fff;
}
.homepageBottomContent {
  text-align: center;
  margin: 5% 0 ;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
nav .homepageDivlinks {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
nav .navSignIn {
  width: 19%;
  text-align: center;
}
nav .navSignIn button {
  background-color: #121012;
  border-radius: 2px;
  color: #fff;
  border: solid 1px #fff;
  width: 40%;
}
@media (max-width: 500px) {
  nav .navSignIn button {
    width: 80%;
  }
}
nav .navSignIn button:hover {
  background-color: #fff;
  color: #121012;
  border: solid 1px #121012;
}
nav a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav .homepageDivlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0;
  }
  nav .homepageDivlinks a {
    margin: 3%;
    width: 100%;
    margin-bottom: 2%;
  }
  nav .navSignIn {
    width: 100%;
    margin-bottom: 5%;
  }
}
.aboutTop {
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
}
.aboutTop div {
  padding: 5% 5% 7% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 25vh;
  line-height: 2rem;
  max-width: 100%;
}
@media (max-width: 500px) {
  .aboutTop div {
    height: 10vh;
  }
  .aboutTop div p {
    display: none;
  }
}
.aboutTopMobile {
  display: none;
  text-align: center;
  margin: 3% 3%;
  padding-top: 5%;
}
@media (max-width: 500px) {
  .aboutTopMobile {
    display: block;
  }
}
.aboutTeams {
  text-align: center;
  line-height: 2rem;
}
.aboutTeams div {
  padding: 5% 15%;
}
@media (max-width: 500px) {
  .aboutTeams div {
    padding: 0;
    margin: 3% 3%;
  }
}
.aboutTeamList {
  margin: 3%;
  padding: 3%;
  background-color: #25252b;
}
.aboutTeamList .teamRow {
  display: flex;
}
.aboutTeamList .teamRow .aboutTeamsMember {
  padding: 2% 2%;
  display: flex;
  flex-direction: row-reverse;
  height: 25vh;
  align-items: space-evenly;
  width: 50%;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .aboutTeamList .teamRow .aboutTeamsMember {
    padding: 2% 0;
  }
}
.aboutTeamList .teamRow .aboutTeamsMember .memberInfo {
  display: flex;
  flex-direction: column;
  background-color: #121012;
  justify-content: center;
  align-items: center;
  padding: 0 3%;
  width: 80%;
  text-align: center;
}
.aboutTeamList .teamRow .aboutTeamsMember .memberInfo h3,
.aboutTeamList .teamRow .aboutTeamsMember .memberInfo h4 {
  padding: 3% 0;
}
.aboutTeamList .teamRow .aboutTeamsMember .memberInfo .memberIcons {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  padding: 3% 0;
}
.aboutTeamList .teamRow .aboutTeamsMember .memberInfo .memberIcons a {
  text-decoration: none;
  color: #fff;
}
.aboutTeamList .teamRow .aboutTeamsMember .memberImg img {
  height: 25vh;
  width: 30vh;
  max-width: 100%;
}
@media (max-width: 500px) {
  .aboutTeamList .teamRow .aboutTeamsMember .memberImg img {
    width: 40vh;
  }
}
@media (max-width: 500px) {
  .aboutTeamList .teamRow {
    display: flex;
    flex-direction: column;
  }
  .aboutTeamList .teamRow .aboutTeamsMember {
    width: 100%;
  }
}
.projectsPagetopcontent {
  background-size: 100% 68%;
  background-repeat: no-repeat;
  height: 55vh;
}
.homepagecoolprojects {
  text-align: center;
  margin: 4rem 0;
  font-weight: bold;
}
.projectsMaincontent {
  display: flex;
  margin: 0 2%;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .projectsMaincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.projectsMaincontent div {
  margin: 0 5rem;
  width: 29%;
}
.projectsMaincontent div h2 {
  text-align: center;
  margin: 5% 0;
}
@media (max-width: 500px) {
  .projectsMaincontent div {
    width: 35rem;
    margin: 0 5%;
  }
}
.projectsMaincontent div img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.projectsMaincontent div p {
  line-height: 2;
  margin: 5% 0;
  text-align: center;
  font-size: 2rem;
  height: 50%;
}
.contactTop {
  display: flex;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
}
@media (max-width: 500px) {
  .contactTop {
    height: 15vh;
  }
}
.contactTop h1 {
  color: #121012;
  margin-left: 70%;
}
@media (max-width: 500px) {
  .contactTop h1 {
    margin-left: 60%;
    font-size: 2.3rem;
  }
}
.contactMid {
  padding: 5% 20%;
  text-align: center;
}
@media (max-width: 500px) {
  .contactMid {
    padding: 5% 10%;
  }
}
.contactForm {
  margin: 0 5%;
  padding: 5%;
  background-color: slateblue;
}
.contactForm div form {
  display: flex;
  flex-direction: column;
}
.contactForm div form input[type=submit] {
  margin-top: 5%;
}
.contactForm div form textarea {
  height: 20vh;
}
.contactForm div form * {
  padding: 1%;
}
@media (max-width: 500px) {
  .contactForm {
    margin-bottom: 10%;
  }
}
