.aboutTop{
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    div{
        padding: 7% 5% 7% 5%;
        .flexRow();
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 25vh;

    }

}

.aboutTeams{
    text-align: center;

    div{
        padding: 5% 15%;
    }

}

.aboutTeamList{
    margin: 3%;
    padding: 3%;
    background-color: rgb(37, 37, 43);

    .teamRow{
        .flexRow();

        .aboutTeamsMember{
            padding: 2% 2%;
            .flexRow();
            flex-direction: row-reverse;
            height: 25vh;
            align-items: space-evenly;
            width: 50%;
            justify-content: space-between;



            .memberInfo{
                .flexColumn();
                background-color: @black;
                justify-content: center;
                align-items: center;
                padding: 0 3%;
                width: 80%;
                text-align: center;

                h3, h4{
                    padding: 3% 0;
                }

                .memberIcons{
                    .flexRow();
                    width: 60%;
                    justify-content: space-evenly;
                    padding: 3% 0;
                    a{
                        .undecorateLink();
                    }

                }

            }

            .memberImg{
            
                img{
                    height: 25vh;
                    width: 30vh;
                    max-width: 100%;
                }

            }

        }

    }

}