.aboutTop{
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    div{
        padding: 7% 5% 7% 5%;
        .flexRow();
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 25vh;

    }

}

.aboutTeams{
    text-align: center;

    div{
        padding: 5% 15%;
    }

}

.aboutTeamList{

    .teamRow{
        .flexRow();

        .aboutTeamsMember{
            padding: 5% 2%;
            .flexRow();
            flex-direction: row-reverse;
            height: 25vh;
            align-items: space-evenly;

            img{
            height: 30vh;
            width: 30vh;
            }

            .memberInfo{
                .flexColumn();
                justify-content: center;
                padding: 0 3%;
                h4{
                    padding: 3% 0;
                }
            }

            .memberImgIcons{
                    div{
                    .flexRow();
                    justify-content: space-evenly;
                    padding: 4%;
                    }
            }

        }
    }
}