.aboutTop{
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;

    div{
        padding: 5% 5% 7% 5%;
        .flexRow();
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 25vh;
        line-height: 2rem;
        max-width: 100%;

        @media @mobile{
            height: 10vh;

            p{
            display: none;
            }

        }

    }

}

.aboutTopMobile{
    display: none;
    text-align: center;
    margin: 3% 3%;
    padding-top: 5%;

    @media @mobile{
        display: block;
    }
}

.aboutTeams{
    text-align: center;
    line-height: 2rem;

    .teamsTop{
        padding: 2.5% 15% 0 15%;

        @media @mobile{
            padding: 0;
            margin: 3% 3%;
        }

    }

}

.aboutTeamList{
    margin: 3%;
    padding: 3%;
    background-color: rgb(37, 37, 43);

    .teamRow{
        .flexRow();

        .aboutTeamsMember{
            padding: 2% 2%;
            .flexRow();
            flex-direction: row-reverse;
            height: 25vh;
            align-items: space-evenly;
            width: 50%;
            justify-content: space-between;
            
            @media @mobile{
                padding: 2% 0;
            }



            .memberInfo{
                .flexColumn();
                background-color: @black;
                justify-content: center;
                align-items: center;
                padding: 0 3%;
                width: 80%;
                text-align: center;

                h3, h4{
                    padding: 3% 0;
                }

                .memberIcons{
                    .flexRow();
                    width: 60%;
                    justify-content: space-evenly;
                    padding: 3% 0;
                    a{
                        .undecorateLink();
                    }

                }

            }

            .memberImg{
            
                img{
                    height: 25vh;
                    width: 30vh;
                    max-width: 100%;

                    @media @mobile{
                        width: 40vh;
                    }
                }

            }

        }

        @media @mobile{
            .flexColumn();

            .aboutTeamsMember{
                width: 100%;
            }
        }

    }

}