.contactTop{
.flexRow();
height: 40vh;
background-repeat: no-repeat;
background-size: 100%;
align-items: center;

@media @mobile{
    height: 15vh;
}

    h1{
        color: @black;
        margin-left: 70%;

        @media @mobile{
            margin-left: 60%;
            font-size: 2.3rem;

        }
    }


}

.contactMid{
    padding: 5% 20%;
    text-align: center;

    @media @mobile{
        padding: 5% 10%;
    }
}

.contactForm{
    margin: 0 5%;
    padding: 5%;
    background-color: slateblue;

    div{
        form{
            .flexColumn();

            input[type=submit]{
                margin-top: 5%;
            }

            textarea{
                height: 20vh;
            }
            *{
                padding: 1%;
            }

        }

    }

    @media @mobile{
        margin-bottom: 10%;
    }

}

