footer{
    .flexColumn();
    height: 15vh;
    align-items: center;
    justify-content: center;

    .homepageFootertext{
        font-size: 1.5rem;
        text-align: center;
        border-top: solid white 2px;
        padding-top: 1%;
    }

    .homepageFootericons{
        .flexRow();
        padding-top: 1%;
        text-align: center;
        width: 10%;
        justify-content: space-between;
    }
}