
//Cta styling here


.homepageCta{
    background-attachment: fixed;
    background-size: 100% 68%;
    background-repeat: no-repeat;
   
     div{
            border-top: solid @white 1px;
            padding: 7% 5% 7% 5%;
            .flexRow();
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
    img{
        border-top:solid @white 3.5px;
       padding-top: 2rem;
    }
          

    
    
        }
}
    div{
    
      
p{
    padding: 3rem 0;
    
}
    }
    button{
        background-color: @black;
        color:@white;
        border-color: @white;
        font-size: 1.7rem;
        font-weight: bold;
       padding: .8rem 0;
        width: 20rem;
        text-align: center;
        border-radius: 5px;
        &:hover{
            background-color:@white;
            color:@black;
            border-color:@black;

  
           
        
    }
    
 

       
    }
    





// PROJECT STYLING STARTS HERE

.homepagecoolprojects{
    text-align: center;
margin: 2rem 0;
}

.homepageProducts{
    
    .flexRow;
    margin: 0 2%;
    justify-content: space-around;
   
   
    div{
        
    width: 29%;
         h2{
            text-align: center;
            margin: 5% 0;
       }



       img{
        .homeImages();
        margin-left: auto;
        margin-right: auto;
        display: block;
        
       }
       p{
           margin: 5% 0;
           text-align: center;
          
       }

   }
    
}
 //PROJECT STYLING ENDS HERE








 //FOOTER STYLING STARTS HERE


// FOOTER STYLING ENDS HERE
   

