



//Cta styling here


.homepageCta{
    background-attachment: fixed;
    background-size: 100% 68%;
    background-repeat: no-repeat;
    width: 100%;
    @media @mobile{
        background-size: 100% 47%;
    }
   
     div{
            border-top: solid @white 1px;
            padding: 7% 5% 7% 5%;
            .flexRow();
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
    img{
        border-top:solid @white 3.5px;
       padding-top: 2rem;
    }
          

    
    
        }
}
    div{
    
      
p{
    padding: 3rem 0;
    
}
    }
    button{
        background-color: @black;
        color:@white;
        border-color: @white;
        font-size: 1.7rem;
        font-weight: bold;
       padding: .8rem 0;
        width: 20rem;
        text-align: center;
        border-radius: 5px;
        &:hover{
            background-color:@white;
            color:@black;
            border-color:@black;

  
           
        
    }
    
 

       
    }
    





// PROJECT STYLING STARTS HERE

.homepagecoolprojects{
    text-align: center;
margin: 4rem 0;
font-weight: bold;
}

.homepageProducts{
    
    .flexRow;
    margin: 0 2%;
    justify-content: space-around;
   @media @mobile {
       .flexColumn;
       align-items: center;
       
   }
   
    div{
        margin: 0 5rem;
    width: 29%;
         h2{
            text-align: center;
            margin: 5% 0;
       }
       @media @mobile{
           width:35rem;
           margin:0 5%;
       }



       img{
        
        width:100%;
        height:auto;
        border-radius: 6px;
       
       }
       p{
           line-height: 2;
           margin: 5% 0;
           text-align: center;
          font-size: 2rem;
        height:50%;
         
       }

   }
    
}
 //PROJECT STYLING ENDS HERE



//HOMEPAGE BOTTOM CONTENT STYLING STARTS HERE

.homepageBottomContent{
    text-align: center;
    margin:5% 0 ;
}










