.flexRow(){
    display: flex;
}

.flexColumn(){
    display: flex;
    flex-direction: column;
}

.aboutImages(){
    width: 30vh;
    height: 30vh;
}


.homeImages(){
    width: 48.5vh;
    height: 35vh;
}

.defaultColor(){
    background-color: #121012;
    color:@white;
}

.undecorateLink(){
    text-decoration: none;
    color: @white;
}