nav{
    .flexRow;
    justify-content: space-between;
  margin: 1rem 0;

  img{
      width: 6rem;

      @media @mobile{
          padding: 2% 0;
      }
  }

    label, input {
        display: none;
        cursor: pointer;
    }

    label{
        width: 100%;
        font-size: 2.3rem;
        text-align: center;
    }

   .homepageDivlinks{
        .flexRow;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    
        .navBtn{
            background-color: @black;
            border-radius: 2px;
            color: @white;
            border: solid 1px @white;
            width: 100%;
            
                @media @mobile{
                    margin-top: 5%;
                    width:30%;
                    height: 5vh;
                }
        }

        .navBtn:hover {
            background-color: @white;
            color: @black;
            border: solid 1px @black;
        }
        
    }

    
    

    a{
        color:#fff;
        text-decoration: none;
    }


    @media @mobile{
        .flexColumn();
        align-items: center;

        .homepageDivlinks{
            .flexColumn();
            align-items: center;
            margin: 3% 0;
            display: none;

            a{
                margin: 3%;
                width: 100%;
                margin-bottom: 2%;

            }

            

        }

        .navSignIn{
            width: 100%;
            margin-bottom: 5%;
            display: none;
            
        }

        #toggle:checked + .homepageDivlinks{
            .flexColumn();


        }

    }


    @media @mobile{

        label{
            display: block;
        }

    }

}
