nav{
    .flexRow;
    justify-content: space-between;
  margin: 1rem 0;
   .homepageDivlinks{
    width: 80%;
    .flexRow;
    justify-content: space-evenly;
    text-align: center;
    
    
}
.homepageNavicons{
    .flexRow;
    justify-content: space-evenly;
    width:19%;
    text-align: center;
    
    
    
}
a{
    color:#fff;
    text-decoration: none;
}


}