.recentprojectsContainer{
    text-align: center;
.recentprojects{
   margin: 4% 4%;
   width:50%;
   display: inline-block;
   @media @tablet{
       width:85%;
   }
    h2{
        text-align: center;
       
        font-weight: bold;
    }
    p{
        line-height: 2;
        font-size: 2rem;
    }
}
}
.projectsPagetopcontent{
    
    background-size: 100% 68%;
    background-repeat: no-repeat;
   
    height:50vh;
    
}




.projectsMaincontent{
    
    .flexRow;
    margin: 0 2%;
    justify-content: space-around;

    @media @tablet{
        .flexColumn;
       align-items: center;
    }
   @media @mobile {
       .flexColumn;
       align-items: center;
       
   }
   
    div{
        margin: 0 5rem;
    width: 29%;
         h2{
            text-align: center;
            margin: 5% 0;
       }
       @media @tablet{
       width:90%;
    }
       @media @mobile{
           width:35rem;
           margin:0 5%;
       }



       img{
        
        width:100%;
        height:auto;
        border-radius: 6px;
       
       }
       p{
           line-height: 2;
           margin: 5% 0;
           text-align: center;
          font-size: 2rem;
        height:50%;

        button{
            .buttonstyle;
            margin-top: 3rem;
        }
         
       }

   }
    
}